<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="boris.narodov.catsinsquares">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cats in squares"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutTheAuthors"></activity>
        <activity
            android:name=".Real_online"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />
        <activity
            android:name=".FullscreenActivityBotHard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".BotMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked" />
        <activity
            android:name=".FullscreenActivityBotMedium"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Rules"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked" />
        <activity
            android:name=".Language"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked"
            android:theme="@style/Menu" />
        <activity
            android:name=".FullscreenActivitybot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/gameName"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked"
            android:theme="@style/Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Cats in squares"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5586713183085646~5422503179" />
    </application>

</manifest>